<div class="card_align">
    <mat-card class='content_align' appearance="outlined">

        <mat-card-header class="custom-header">
            <mat-card-title class="custom-title">SUMMARY</mat-card-title>
        </mat-card-header>

        <mat-card-content class="custom-content">
            Total Income: {{ totalIncome | currency:'INR' }}
        </mat-card-content>
        <mat-card-content class="custom-content">
            Total Expenses: {{ totalExpenses | currency:'INR' }}
        </mat-card-content>
        <mat-card-content class="custom-content">
            Balance: {{ balance | currency:'INR' }}
        </mat-card-content>

    </mat-card>

</div>